<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloudy.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Tahmid Hamim. It uses data from openweathermap.org!</p>
            <img class="portrait" src="/img/me.jpg">
        </div>
        
        {{>footer}}
    </body>

</html>